
@{
    ViewBag.Title = "Index";
}

<h2>Exemplo uso Select</h2>
<hr />

<form>
    <div class="form-group">
        <select div class="form-control" id="selectId">
            <option value="">Selecione uma Cidade</option>
        </select>
    </div>
</form>

   

